:root {
	font-size: 10px;
	font-family: sans-serif;
	--bg-color: rgba(250, 200, 0, 0.2);
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.container {
	background-color: var(--bg-color);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.board {
	width: 450px;
	height: 450px;
	border: 1px solid grey;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
}

.cell {
	width: 150px;
	height: 150px;
	border: 1px solid grey;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 8rem;
	color: orange;
}

.cell-empty {
	transition: 0.3s;
}

.cell-empty:hover {
	scale: 0.98;
	background-color: orange;
	cursor: pointer;
}

.info {
	font-size: 3rem;
	margin-bottom: 1rem;
	color: grey;
}

.hidden {
	display: none;
}

.control {
	margin-top: 2rem;
}

#new-game-btn {
	font-size: 3rem;
	text-transform: uppercase;
	padding: 1rem 2rem;
	background-color: grey;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 4px;

	transition: 0.3s;
}

#new-game-btn:hover {
	scale: 1.05;
	box-shadow: 0 0 10px 1px grey;
}

dialog h2 {
	text-align: center;
	font-size: 3rem;
}

dialog > div {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: 1.5fr 1fr;
}

dialog > div > div {
	padding: 1rem;
	font-size: 2rem;
}

dialog > div > div:nth-child(odd) {
	text-align: right;
}

.win {
	background-color: green;
}
